<app-header2></app-header2>
<div class="container">
    <div class="container-menu">
        <div class="card">
            <figure>
                <img src="assets/images/AgregarCliente.jpg">
            </figure>
            <div class="contenido">
                <h3>Clientes</h3>
                <a (click)="agregarCliente()">Clientes</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/listaClientes.jpg">
            </figure>
            <div class="contenido">
                <h3>Prestamos</h3>
                <a (click)="listaClientes()">Prestamos</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/clientesVencidos.jpg">
            </figure>
            <div class="contenido">
                <h3>Clientes Vencidos</h3>
                <a (click)="clientesVencidos()">Clientes Vencidos</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
